# Credenciales de acceso
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_SESSION_TOKEN
AWS_REGION

# Configuracion S3
S3_BUCKET_NAME

# Variables para AWS Glue y Athena
GLUE_DATABASE_NAME
ATHENA_RESULTS_LOCATION
AWS_GLUE_ROLE_ARN