# --- AWS y Conexión ---
boto3==1.34.100       
awswrangler==3.7.3    
python-dotenv==1.0.1  

# --- Análisis de Datos---
pandas==2.2.2         
matplotlib==3.8.4     
seaborn==0.13.2  
xgboost>=2.0.0     

# --- Entorno Jupyter---
jupyter==1.0.0
ipykernel==6.29.4

holidays>=0.40.0